@page "/file"
@using GazFinal.Data
@inject Mongich ser
@inject NavigationManager nav
<h3>File, @user.Login</h3>
<p>
    <select @bind="@Projects">
        <option value="">Select a Role</option>
        <option value="Gazification">Gazification</option>
        <option value="WaterSupply">WaterSupply</option>>
    </select>
</p>
<p><input type="text" @bind-value="projName" /></p>

    <label>
        Choose Desingner
    </label>


<select @bind="@developer">
        <option></option>
    @foreach (var i in developers)
        {
            <option value="@i.Login">@i.Login</option>
        }
    </select>

<label>Select planner </label>
    <select @bind=projector >
        <option></option>
        @foreach (var i in projectors)
        {
            <option value="@i.Login">@i.Login</option>
        }
    </select>
<p><button type="button" @onclick=Create>Create project</button></p>
@if(Error)
{
    <p><label style="color: red;font-weight: 500;" >Введите все данные</label></p>
}
@code {
    public User? user;
    private string? projName;
    private string? Login;
    private string? Departman;
    private string? developer;
    private string? projector;
    List<User>? developers;
    List<User>? projectors;
    private string? Projects;
    bool Error;
    string? g = "";
    protected override void OnInitialized()
    {
        projectors = Mongich.FindAllProjector();
        developers = Mongich.FindAllDeveloper();
        user = ser.GetUser();
        Login = user.Login;
    }
    void Create()
    {

        var d = Mongich.Find(developer);
        var p = Mongich.Find(projector);
        if (developer == null || projector == null || projName == null || developer == string.Empty || projector == string.Empty)
        {
            Error = true;
            return;
        }

        Project project = new Project(projName, (user as Desingner).Department, Mongich.Find(developer), Mongich.Find(projector));
        ser.SetProject(project);

        ser.SetProject(project);
        if(project.Type == "Gasification")
        {
            (user as Desingner).projectsGas.Add(project);
        }
        else
        {
            (user as Desingner).projectsWater.Add(project);
        }
        var newD = (Mongich.Find(developer)) as Developer;
        newD.Projects.Add(project);
        var newProj = (Mongich.Find(projector)) as Projector;
        newD.Projects.Add(project);
        Mongich.Replace(user.Login, (user as Desingner));
        Mongich.Replace(((Mongich.Find(developer)) as Developer).Login, newD);
        Mongich.Replace(((Mongich.Find(projector)) as Projector).Login, newProj);
        Mongich.AddProjectToDB(project);
        nav.NavigateTo("//projectDesingner");
    }
}

